{% extends 'base.html'%}
{%block head%}
<style>

.body{
  background-image: url(media/image/buildings1.png); 
  background-size:cover; 
  height: 80vh; 
  background-position: center center;



}
.banner-area h2 {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align:center;
  margin:0;
  padding:0;
  font-family:Poppins;
  color:#fff;
  font-size:4.5em;


}
.banner-area h2 span{
  color:#3194C8;
    -webkit-text-stroke-width: 0.2px;
    font-family: Lucida;
 
  
}
.banner-area input[type=search] {

  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/image/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width:30%;
}
.banner-area input[type=search]:focus {
  width: 50%;
}
#back{
  position: absolute;
  top:47.5%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: black;
  width:65%;
    filter: blur(100px);
  height: 190px;
}
</style>




{%endblock%}



{% block main %}
<div class="container-fluid">
  <div class="body">
    <div id="back">
    </div>
    <div class="banner-area">
      <h2> Search for: <span class="type"> </span></h2>
    </div>
    <div class="banner-area">
      <p> hello </p>
      <form action='/search/'>
        <input type="search" name="q" placeholder="e.g. 'York', 'NW3' 5TY' or 'Waterloo Station'">
      </form>
    </div>
  
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>

  var typed3 = new Typed('.type', {
    strings: [
     "<strong>Developments </strong>",
      "Developments",
      "Portfolios",
      "Funding",
      

    ],
    typeSpeed: 80,
    backSpeed: 60,
    smartBackspace: true, // this is a default
    loop: true
  });


</script> 

{% endblock %}







{%block bottom%}

{%endblock%}