{% extends 'base.html' %}
{% block head%}
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
{%endblock%}

{%block main%}

    <div id="map" style=" height:300px;"></div>
 <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 51.507420, lng: -0.128350};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqMAwq0EzSm7HRTj_cDtN9o6vzv77Z0dw&callback=initMap"
    async defer></script>
    {% endblock%}